:root {
    --azul: #2A7AE4;
    --azul-claro: #EAF2FD:
    --cinza-medio: #A2A2A2;
    --cinza-claro: #F5F5F5;
    --branco: #FFF;
    
    --cor-fonte: #464646;
}

body {
    font-family: 'Raleway', sans-serif;
}