:root {
    --azul: #0050b9;
    --azul-claro: #EAF2FD;
    --cinza-medio: #A2A2A2;
    --cinza-claro: #F5F5F5;
    --branco: #FFF;

    --cor-fonte: #464646;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--cor-fonte);
}

.pular-navegacao {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    width: 1px;
    height: 1px;
    color: transparent;
    position: absolute;
}

.pular-navegacao:focus {
    transition: 0.5s ease-in;
    text-indent: 10px;
    width: 320px;
    height: 25px;
    padding-top: 0.5rem;
    font-size: 18px;
    font-weight: 700;
    color: var(--branco);
    background-color: var(--azul);
}

.container {
    padding: 2.5rem 5rem;
}

.btn-padrao {
    display: block;
    text-align: center;
    cursor: pointer;
    width: 180px;
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: var(--branco);
    font-size: 1.2rem;
    font-weight: 300;
    background-color: var(--azul);
    border: 1px solid var(--azul);
    border-radius: 7px;
    box-shadow: 2px 5px 12px 5px #00000025;
    transition: 0.5s ease-in-out;
}

.btn-padrao:hover,
.btn-padrao:focus {
    box-shadow: 7px 10px 17px 5px #00000045;
    color: var(--azul);
    background-color: var(--branco);
    font-weight: 400;
}

.titulo-padrao {
    font-size: 2rem;
    font-weight: 700;
}