.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__link:hover,
.cabecalho__link:focus {
    transition: 0.5s ease-in;
    transform: scale(1.1);
    opacity: 80%;
}

.cabecalho-divisao {
    display: flex;
    gap: 3.5rem;
    align-self: flex-start;
}

.pesquisa-produto {
    display: flex;
    width: 400px;
    align-items: center;
    background-color: var(--cinza-claro);
    border-radius: 20px;
    padding: 0 1rem;
}

.pesquisa-produto__input {
    outline: none;
    border: 2px solid transparent;
    background-color: transparent;
    padding: 0.75rem 1rem 0.25rem;
    flex-grow: 3;
    font-family: inherit;
    color: inherit;
}

.pesquisa-produto__input:focus {
    border-bottom: 2px solid var(--azul);
}

.pesquisa-produto__btn {
    flex-grow: 1;
    height: 100%;
    background: url("../img/lupa.png") no-repeat center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.pesquisa-produto__btn:hover,
.pesquisa-produto__btn:focus {
    transform: scale(1.1);
    filter: invert(20%) sepia(42%) saturate(5202%) hue-rotate(206deg) brightness(94%) contrast(101%);
}

@media screen 
and (min-device-width: 320px) 
and (max-device-width: 767px) {
    .cabecalho,
    .cabecalho-divisao {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        align-self: center;
        max-width: 100%;
        box-sizing: border-box;
    }

    .pesquisa-produto {
        width: 100%;
        height: auto;
        padding: 0.5rem;
    }

    .pesquisa-produto__input,
    .pesquisa-produto__btn {
        flex-grow: initial;
    }

    .pesquisa-produto__btn {
        width: 20px;
        height: 20px;
    }
}

@media screen 
and (min-device-width: 768px) 
and (max-device-width: 1249px) {
    .cabecalho {
        gap: 1.2rem;
        align-items: center;
    }
    .cabecalho-divisao {
        gap: 1.2rem;
    }

    .cabecalho__img {
        width: 125px;
        height: auto;
    }

    .pesquisa-produto {
        width: 325px;
    }
}