.contato, .contato-divisao {
    display: flex;
    background-color: var(--azul-claro);
    line-height: 1.2;
}

.contato {
    justify-content: space-between;
}

.contato-divisao {
    flex-grow: 1;
    gap: 5rem;
}

.nav__lista {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.nav__link {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--azul);
    text-decoration: underline;
}

.contato__form {
    gap: 0.75rem;
    flex-grow: 2;
}

@media screen 
and (min-device-width: 320px) 
and (max-device-width: 767px) {
    .contato, .contato-divisao {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .nav {
        text-align: center;
    }

    .nav__lista {
        gap: 1rem;
    }
}

@media screen 
and (min-device-width: 768px) 
and (max-device-width: 1023px) {
    .contato-divisao {
        flex-direction: column;
        gap: 2.5rem;
    }

    .nav__lista {
        gap: 1.2rem;
    }
}