.login {
    background-color: var(--cinza-claro);
    text-align: center;
}

.form__login {
    max-width: 425px;
    min-width: 275px;
    margin: 2rem auto 0;
}

.form__campo--login {
    margin-bottom: 1.5rem;
}