.produtos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--cinza-claro);
}

.produtos-divisao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.produtos__link {
    font-size: 1.2rem;
    color: var(--azul);
    font-weight: 700;
}

.produtos__link,
.produto__link {
    text-decoration: none;
}

.produtos__link::after {
    content: url("../img/arrow.png");
    float: right;
    margin-left: 5px;
}

.produtos__link:hover,
.produtos__link:focus {
    transition: 0.3s ease-in;
    text-decoration: underline;
    opacity: 60%;
}

.produtos__lista {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 1.5rem 0;
}

.produtos__card {
    position: relative;
}

.produto__link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.5rem;
    margin: 0 auto;
    width: 195px;
    border: 1px solid transparent;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-fonte);
    box-sizing: border-box;
}

.produto__link:hover,
.produto__link:focus, 
.produtos__botoes:hover {
    transition: 0.5s ease-in-out;
    box-shadow: 7px 7px 7px #00000050;
    background-color: var(--branco);
    color: var(--azul);
    border: 1px solid var(--cinza-medio);
}

.produto__nome {
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}

.produto__preco {
    font-weight: 700;
    color: inherit;
}

.produtos__botoes {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    border-radius: 5px;
    width: 70px;
    height: 35px;
    box-sizing: border-box;
}

.produto__btn {
    background-color: transparent;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.produto__btn--editar {
    background: url("../img/editar-branco.svg") no-repeat center;
}

.produto__btn--editar:hover,
.produto__btn--editar:focus {
    background: url("../img/editar-azul.svg") no-repeat center;
}

.produto__btn--deletar {
    background: url("../img/deletar-branco.svg") no-repeat center;
}

.produto__btn--deletar:hover,
.produto__btn--deletar:focus {
    background: url("../img/deletar-azul.svg") no-repeat center;
}

@media screen 
and (min-device-width: 320px) 
and (max-device-width: 767px) {
    .produtos-divisao {
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .produtos-1 .produtos__card:nth-child(5),
    .produtos-1 .produtos__card:nth-child(6),
    .produtos-2 .produtos__card:nth-child(5),
    .produtos-2 .produtos__card:nth-child(6),
    .produtos-3 .produtos__card:nth-child(5),
    .produtos-3 .produtos__card:nth-child(6) {
        display: none;
    }

    .produtos__lista {
        grid-template-columns: auto auto;
    }

    .produtos__card, 
    .produto__link {
        width: calc((100vw - 85px) / 2);
        max-width: 200px;
        margin: 0 auto;
    }

    .produto__link {
        padding: 0.75rem 0.25rem;
        gap: 0.5rem
    }

    .produto__img {
        width: calc((100vw - 100px) / 2);
        height: calc((100vw - 100px) / 2);
        max-width: 180px;
        max-height: 180px;
        margin: 0 auto;
    }
}

@media screen 
and (min-device-width: 768px) 
and (max-device-width: 1249px) {
    .produtos-1 .produtos__card:nth-child(5),
    .produtos-1 .produtos__card:nth-child(6),
    .produtos-2 .produtos__card:nth-child(5),
    .produtos-2 .produtos__card:nth-child(6),
    .produtos-3 .produtos__card:nth-child(5),
    .produtos-3 .produtos__card:nth-child(6) {
        display: none;
    }

    .produtos__lista {
        grid-template-columns: auto auto auto auto;
    }

    .produtos__card, 
    .produto__link {
        width: calc((100vw - 90px) / 4);
        max-width: 200px;
        margin: 0 auto;
    }

    .produto__img {
        width: calc((100vw - 160px) / 4);
        height: calc((100vw - 160px) / 4);
        max-width: 180px;
        max-height: 180px;
        margin: 0 auto;
    }
}