.product-view {
    background-color: var(--cinza-claro);
}

.produto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.product-view__img {
    box-shadow: 5px 5px 10px 7px #00000030;
}

.product-view__divisao {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-view__preco {
    font-size: 1.5rem;
    font-weight: 300;
}

.product-view__descricao {
    font-size: 1.2rem;
}

@media screen 
and (min-device-width: 320px) 
and (max-device-width: 767px) {
    .produto {
        flex-direction: column;
        gap: 2rem;
    }

    .product-view__divisao {
        width: auto;
        max-width: 500px;
        gap: 1rem;
    }

    .product-view__preco {
        font-size: 1.2rem;
    }

    .product-view__descricao {
        font-size: 1rem;
    }

    .produtos__card:nth-child(5),
    .produtos__card:nth-child(6) {
        display: none;
    }
}

@media screen 
and (min-device-width: 768px) 
and (max-device-width: 1249px) {
    .produto {
        justify-content: space-around;    
    }

    .product-view__divisao {
        width: calc(100% - 350px);
        max-width: 535px;
    }

    .produtos__card:nth-child(5),
    .produtos__card:nth-child(6) {
        display: none;
    }
}