.rodape {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    box-sizing: border-box;
}

.redes {
    display: flex;
    gap: 1.5rem;
}

.redes__link:hover,
.redes__link:focus {
    transition: 0.3s;
    opacity: 60%;
}

@media screen 
and (min-device-width: 320px) 
and (max-device-width: 1249px) {
    .rodape {
        flex-direction: column;
        gap: 1rem;
    }

    .creditos {
        font-size: 0.85rem;
    }
}